<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        h1 {
            text-align: center;
        }

        .team-container {
            margin-left: 10%;
            margin-right: 10%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .team-member {
            text-align: center;
            margin: 10px;
            transition:scale 200ms;
            z-index: 0;
        }
        .team-member:hover{
            scale: 1.1;
            z-index: 1;
        }

        .team-member img {
            width: 300px;
            height: 300px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        }

        nav{
            overflow: hidden;
            display: flex;
            justify-content: flex-end;
            background: #212020;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-right: 50px;
            position: relative;
            z-index: 2;
        }

        a{
            color: #9f9f9f;
            text-decoration: none;
            font-size: 23px;
            font-family: "Times New Roman";
            margin-right:20px;
        }
        a:hover{
            color: white;
        }
        .content {
            padding: 16px;
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 90%;


        }

        .sticky + .content {
            padding-top: 60px;
        }
        figcaption{
            font-size: 20px;
            font-family: "Times New Roman";

        }

        .project-title {
            color: #f8f6f2;
            font-size: 25px;
            font-family: "Times New Roman";
            margin-left: 50px;
        }
        .links{
            margin-left: auto;
        }

    </style>
</head>

<body style="background: #f8f6f2">
<nav>
    <div class="project-title">Node.js Project</div>
    <div class="links">
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/users/new">Create new user</a>
    </div>
</nav>
<h1>Our team</h1>
<div class="content">
<div class="team-container">
    <figure class="team-member">
        <img src="/images/Dragos.png" alt="Doroftei Dragos">
        <figcaption>Doroftei Dragos</figcaption>
        <figcaption>23/1/0855/013</figcaption>
    </figure>
    <figure class="team-member">
        <img src="/images/Alisa.jpg" alt="Beztsinna Alisa">
        <figcaption>Beztsinna Alisa</figcaption>
        <figcaption>23/1/0855/008</figcaption>
    </figure>

    <figure class="team-member">
        <img src="/images/Maya.png" alt="Churkina Maya">
        <figcaption>Churkina Maya</figcaption>
        <figcaption>23/1/0855/010</figcaption>
    </figure>
</div>
</div>
<script>
    const navbar = document.querySelector('nav');

    function stickynavbar() {
        const rect = navbar.getBoundingClientRect();
        let top = rect.top + window.scrollY;

        if (window.scrollY >= top) {
            navbar.classList.add('sticky');
            document.body.style.marginTop = navbar.offsetHeight + 'px';
        } else {
            navbar.classList.remove('sticky');
            document.body.style.marginTop = '0';
        }
    }

    window.addEventListener('scroll', stickynavbar);
</script>

</body>
</html>
