<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <style>
        nav{
            overflow: hidden;
            display: flex;
            justify-content: flex-end;
            background: #212020;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-right: 50px;
            position: relative;
            z-index: 2;
        }

        a{
            color:#9f9f9f;
            text-decoration: none;
            font-size: 23px;
            font-family: "Times New Roman";
            margin-right:20px;
        }
        a:hover{
            color: white;
        }
        .content {
            padding: 5px;
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 90%;


        }

        .sticky + .content {
            padding-top: 60px;
        }
        #left div{
            font-family: Arial;
            font-size: 13px;
            background: white;
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        #left{
            float:right;
            width: 80%;
        }
        .project-title {
            color: #f8f6f2;
            font-size: 25px;
            font-family: "Times New Roman";
            margin-left: 50px;
        }
        .links{
            margin-left: auto;
        }
        img{
            margin-left: 45px;
            width: 180px;
            height: 170px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    </style>
</head>

<body style="background: #f8f6f2">
<nav>
    <div class="project-title">Node.js Project</div>
    <div class="links">
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/users/new">Create new user</a>
    </div>
</nav>
<div class="content">
    <h2>Here you can see information about user!</h2>
    <hr>
    <br>
        <div id="left">
            <p>Name</p>
            <div><%=user.name%></div>
            <p>Surname</p>
            <div><%=user.surname%></div>
            <p>Age<p>
            <div><%=user.age%></div>
        </div>
        <div >
            <img id="icon" src="<%= user.icon%>" width="200px" alt="User Picture">
        </div>

</div>
<script>
    const navbar = document.querySelector('nav');

    function stickynavbar() {
        const rect = navbar.getBoundingClientRect();
        let top = rect.top + window.scrollY;

        if (window.scrollY >= top) {
            navbar.classList.add('sticky');
            document.body.style.marginTop = navbar.offsetHeight + 'px';
        } else {
            navbar.classList.remove('sticky');
            document.body.style.marginTop = '0';
        }
    }

    window.addEventListener('scroll', stickynavbar);
</script>
</body>
</html>
